{% extends 'base.html' %}

{% block custom_css %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Reggae+One&display=swap" rel="stylesheet">
{% endblock custom_css %}

{% block content %}
  <!-- Random -->
  <div class="card mt-3">
    <div class="card-header menu_font">
      らんだむ四字熟語くん 漢検1級ver
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>
          <ruby>
            <span class="fw-bold">{{ fc.Word }}</span>
            <rt>{{ fc.Yomi }}</rt>
          </ruby>
        </p>
        <footer class="blockquote-footer">{{ fc.Meaning }}</footer>
      </blockquote>
    </div>
  </div>

  <!-- Menu -->
  <div class="card-group mt-3">
    <!-- ISS Location -->
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title menu_font">Where Is ISS?</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">
          <span class="badge text-bg-info">Information</span>
          <span class="badge text-bg-secondary">Simple</span>
          <span class="badge text-bg-success">Hobby</span>
        </h6>
        <p class="card-text">現在の国際宇宙ステーション（ISS）の位置をGoogle Map上に表示します。</p>
        <a href="{% url 'iss:index' %}"> &gt;&gt; Go</a>
      </div>
    </div>
    <!-- BookWord Estimator -->
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title menu_font">BookWord Estimator</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">
          <span class="badge text-bg-secondary">Simple</span>
          <span class="badge text-bg-success">Hobby</span>
        </h6>
        <p class="card-text">洋書の語数を推定します。</p>
        <a href="{% url 'words:index' %}"> &gt;&gt; Go</a>
      </div>
    </div>
  </div>
{% endblock content %}