.title {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(to right,#e60000,#f39800,#fff100,#009944,#0068b7,#1d2088,#920783);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block
}

iframe {
  aspect-ratio: 16/9;
  width: 100%;
}

.menu_font {
  font-family: "Reggae One", system-ui;
  font-weight: 400;
  font-style: normal;
}